<h2>Lista województw</h2>

<table class="table">
  <thead>
    <tr>
      <th>nazwa</th>
      <th>miejsca w sejmiku</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voivodships.each do |voivodship| %>
      <tr>
        <td><%= voivodship.name %></td>
        <td><%= voivodship.places %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/central">Menu - komisja centralna</a>
