
<table class="table">
  <thead>
    <tr>
      <th>Okręg</th>	
      <th>Województwo</th>
      <th>Komitet</th>	
      <th>Liczba oddanych głosów</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committees_districts.each do |committees_district| %>
      <tr>
	<td><%= committees_district.district.name %></td>
	<td><%= committees_district.district.voivodship.name %></td>
	<td><%= committees_district.committee.name %></td>
        <td><%= committees_district.votes %></td>
   
        
      </tr>
    <% end %>
  </tbody>
</table>
<p><a href="votes_voivodships">Zestawienia wojewódzkie</a></p>
<p><a href="/central">Menu - komisja centralna</a></p>
<br>


