
<div class="row">
    <div class="col-sm-4">
      <h3>Administrator</h3>
      <h6>Po zalogowaniu osoba z uprawnieniami administratora uzyskuje&nbsp;możliwość:</h6>
<p align="justify">
     <p> <li> wprowadzenia i modyfikacji listy komitetów wyborczych biorących udział w
wyborach w danym województwie</li> </p>
	<p> <li>wprowadzenia i modyfikacji listy okręgów wyborczych w&nbsp;obrębie województwa</li> </p>
	<p><li>określenia liczby miejsc w sejmiku w poszczególnych województwach</li> </p>
	<p><li>przypisania logo partii do komitetu wyborczego.</li></p>
	<p><li>wprowadzenia liczby osób uprawnionych do głosowania w&nbsp;poszczególnych
okręgach wyborczych</li></p>
	<p><li>określenia w których województwach wybierane są poszczególne komitety
wyborcze</li></p>
	</p>
    </div>
<div class="col-sm-4">
      <h3>Komisja centralna</h3> 
      <h6>Po zalogowaniu członek komisji centralnej uzyskuje&nbsp;możliwość:</h6>
	<p><li>przeglądania liczbowych wyników wyborów w poszczególnych okręgach</li></p>
	<p><li>przeglądania zbiorczych zestawień wyników dla poszczególnych województw</li></p>
	<p><li>generowania raportu zawierającego zestawienie procentowe liczby głosów 
oddanych na poszczególne komitety w danym województwie</li></p>
	<p><li>generowania raportu dotyczącego frekwencji w&nbsp;poszczególnych okręgach i województwach</li></p>
	<p><li>generowania listy ilości miejsc w sejmikach poszczególnych województw</li></p>
	<p><li>generowania raportu zawierającego informację o liczbie głosów nieważnych,
z podziałem na przyczynę</li></p>


     
    </div>
    <div class="col-sm-4">
      <h3>Komisja okręgowa</h3>
	<h6>Po zalogowaniu członek komisji okręgowej uzyskuje&nbsp;możliwość:</h6>
      <p><li>wprowadzenia liczby głosów uzyskanej przez każdy z&nbsp;komitetów w danym
okręgu wyborczym</li></p>
 <p><li>wprowadzenia liczby głosów nieważnych, z podziałem&nbsp;na przyczynę
nieważności głosu</li></p>
<p>*dodatkowo walidator dokonuje porównania liczby oddanych głosów ważnych i nieważnych z liczbą wydanych kart do głosowania*</p>
    </div>
    
  </div>


